body {
    background-color: ivory;
}

h1, h2, h3, h4, p, aside, button {
    text-align: center;
    text-shadow: 0 2px 3px rgba(0,0,0,0.4);
    color: white;
    font-weight: lighter;
    font-size: 300%;
    font-family: "PT Sans", sans-serif;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

aside {
    font-size: 100%;
}

p {
    font-size: 100%;
    font-weight: 100;
}
